<h><%= t('views.comment.comment_create') %></h>

<%= form_with(model: [commentable, Comment.new]) do |form| %>

  <div class="field">
    <%#= form.label :"コメントする" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
